.container {
  width: 90%;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 100px;
}
.footer {
  background-color: #051e21;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
}
.social-icons a {
  padding: 5px 10px;
  color: white;
}
.social-icons a:hover {
  opacity: 70%;
}
.footer p {
  color: white;
}
